<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @classroom.user %>
</p>

<p>
  <strong>School:</strong>
  <%= @classroom.school %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
